


.piece{
width: 200px;
  height: 200px;
  border-radius: 50%;
  
  background: conic-gradient(
    #ff6384 0deg 120deg,
    #36a2eb 120deg 260deg,
    #ffce56 260deg 360deg
  );


  -webkit-mask: radial-gradient(circle, transparent 50%, black 51%);
  mask: radial-gradient(circle, transparent 50%, black 51%);
}